body{
    background-color: black;
    color:yellow;
}

h1{
    font-size:36px;
    color:white;
    text-align:center;
}

h2{
    color:navy;
    text-decoration:underline;
    font-style:italic;
    font-weight:bold;
}

p{
    font-size:25px;
}
/*this is a comment*/
#pinkparagraph{
    color:pink;
}

.pretty{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ugly{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.header{
    z-index: 10;
}

.common{
    background-color:black;
    border: 2px solid white;
    position: absolute;
}

.left{
    top: 115px;
    left: 15px;
    width: 100px;
    bottom: 40px;
}

.main{
    top: 115px;
    left: 130px;
    right: 140px;
    bottom: 40px;
}

.right{
    top: 115px;
    right: 25px;
    width: 100px;
    height: 100px
}

.footer{
    bottom: 500 px;
    height: 100px;
    left: 300px;
    right: 25 px;
    background-color:black;
    border: 2px solid white;
    position: absolute;
}